[user]
    name = Thu Htet Aung
	email = "thuhtetaung.d2@gmail.com"
[alias]
    c = commit -m
    ci = commit -m
    s = status
    st = status
    last = log -1 HEAD
    lg = log --oneline
    lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    f = push --force-with-lease
